@import url("../fonts/avenir/avenir.css");

html{
  scroll-behavior: smooth;
}

body {
  text-align: center;
  animation: colorchange 10s infinite;
  background-color: #F24646;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 500;
}
@keyframes colorchange {
    0%   {background-color: red;}
    25%  {background-color: orange;}
    50%  {background-color: green;}
    75%  {background-color: blue;}
    100% {background-color: red;}
}
.texterror {
  color: #ffffff;
  font-weight: 700;
  font-size: 15vw;
  margin-top: 150px;

}
.notfound {
  color: #ffffff;
  font-weight: 600;
  font-size: 2vw;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-right: 50px;
  margin-left: 50px;
}

.homelink {
  text-decoration: none;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 80px;
  background: #ffffff;
  animation: colorchange2 10s infinite;
  font-weight: 600;
  font-size: 2vw;
}
@keyframes colorchange2 {
      0%   {color: red;}
      25%  {color: orange;}
      50%  {color: green;}
      75%  {color: blue;}
      100% {color: red;}
}

@media only screen and (max-width:1024px) and (orientation:portrait){

  .texterror {
    font-size: 15vh;
    margin-top: 20vh;
  }

  .notfound {
    font-size: 2vh;
    margin-top: 3vh;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 8vh;
  }

  .homelink {
    font-size: 2.5vh;
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media only screen and (max-width:1024px) and (orientation:landscape){

  .texterror {
    font-size: 15vh;
    margin-top: 25vh;
  }

  .notfound {
    font-size: 2vw;
    margin-top: 3vh;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 8vh;
  }

  .homelink {
    font-size: 2vw;
    padding-left: 20px;
    padding-right: 20px;
  }

}
